<form color="primary">
  <div>
  <label for="brand">Brand:</label>
  <input type="text" id="brand" name="brand" class="brand" [(ngModel)]="carModel.brand" required>

  <label for="type">Type:</label>
  <input type="text" id="type" name="type" class="type" [(ngModel)]="carModel.type" required>

  <label for="fuel">Fuel:</label>
  <select id="fuel" name="fuel" class="fuel" [(ngModel)]="carModel.fuel" required>
    <option value="Diesel">Diesel</option>
    <option value="Electric">Electric</option>
    <option value="Hybrid">Hybrid</option>
    <option value="Gasoline">Gasoline</option>
  </select>

  <button class="add" (click)="addcars()">
     Add car
  </button>
  </div>
</form>

